.countryContainer {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.countryContainer:nth-child(odd){background-color: #5582E1}
.countryContainer:nth-child(even){background-color: #4169AF}

.img {
  width: 40px;
  height: 50%;
  border: 1px solid white;
}

.cases {
  margin-left: auto;
}

.icon {
  color: white;
}